@page
@inject ITodoRepository todoRepository

My todo list:

<ul id="todos" style="list-style: none">
    @foreach (var item in todoRepository.GetAll())
    {
        <li>
            <form style="display: inline;" method="post" action="/api/todos/checkbox">
                <input type="checkbox" name="checkbox" class="checkbox" checked="@(item.IsCompleted ? "" : null)"
                       onchange="this.value = this.checked; this.form.submit()">
                <input type="hidden" name="guid" value="@item.Id"/>
            </form>
            @item.Name
        </li>
    }
</ul>

<form method="post" action="/api/todos">
    <label for="newTodoInput">New TODO:</label>
    <input id="newTodoInput" type="text" name="name">
    <button id="addTodoButton">Add new TODO</button>
</form>