div.bill-summary {
    padding: 1.5rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    max-width: 400px;
    margin: 1rem auto;
    text-align: center;
}

div.bill-summary > .personWhoPaid {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

div.bill{
    list-style: none;
    padding: 0;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.bill > div {
    width: 80%;
    margin: 10px 10%;
    background-color: white;
    border-radius: 5px;
    color: var(--secondary-color);
    font-size: 1.8rem;
    display: grid;
    text-align: center;
    padding-left: 1em;
}

.description, 
.date,
.amount {
    margin-bottom: 10px;
}

.amount,
.person
{
    font-weight: bold;
    display: inline;
}

.amountPerPerson {
    display: inline;
    margin-left: 10px;
}

@media (min-width: 1800px) {
    div.bill > div {
        width: 1800px;
    }
}

@media (min-width: 992px)
{
    div.bill > div{
        grid-template-columns: 50% 50%;
        font-size: 2rem;
        text-align: left;
    }
}