/*source: https://www.joshwcomeau.com/css/custom-css-reset/*/

:root {
    --primary-color: #fbbf00;
    --primary-color-darker: #e2ac00;
    --primary-color-lighter: #ffe697;
    --secondary-color: #2d332f;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: "Metric Regular", Arial, Tahoma, sans-serif;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

nav {
    background-color: var(--primary-color);
    padding: 1em 2em;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    background-color: var(--primary-color);
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100%;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding-bottom: 1em;
    align-items: center;
}

nav > ul.active {
    display: flex;
}

nav > ul > li {
    margin-right: 1.5em;
    transition: all 0.3s ease;
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav > ul > li:hover {
    transform: scale(1.15);
    z-index: 1;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: auto;
}

.hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.hamburger > span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger.active > span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active > span:nth-child(2) {
    opacity: 0;
}

.hamburger.active > span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

p { font-size: 1.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h1 { font-size: 2.5rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 2.5rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.5rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.0rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 0.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="number"],
input[type="text"],
select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: white;
    border-radius: 4px;
    max-width: 200px;
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
    border: 1px solid var(--primary-color);
    outline: 0;
}

label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}

/* Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: var(--primary-color-darker);
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--primary-color-darker);
    cursor: pointer;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover
{
    color: var(--primary-color);
    border-color: var(--primary-color);
    outline: 0; 
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus
{
    color: var(--primary-color-lighter);
    border-color: var(--primary-color-lighter);
    outline: 0; 
}

.button:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled
{
    color:gray;
    border-color: gray;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: var(--secondary-color);
    background-color: var(--primary-color-darker);
    border-color: var(--secondary-color); 
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-color: var(--secondary-color); 
}

a.button.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: var(--secondary-color);
    background-color: var(--primary-color-lighter);
    border-color: var(--secondary-color); 
}

.entryLines {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 10px auto;
    align-items: center;
}

.entryLines li {
    max-width: 800px;
    width: 100%;
    word-wrap: break-word;
    margin: 10px 10%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.entryLines {
    --positive-background-color: #E7FFE7;
    --negative-background-color: #FFC1C1;
}

.entryLines li.negative-amount {
    background-color: var(--negative-background-color);
}
.entryLines li.positive-amount {
    background-color: var(--positive-background-color);
}

.amount.negative-amount {
    color: red;
}

.amount.positive-amount {
    color: green;
}

.amount-description {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.descriptionHomepage {
    flex-grow: 1;
}

.entryLines li:hover {
    transform: scale(1.02);
}

.clickBillDetails {
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media (min-width: 512px)
{
    nav {
        justify-content: start;
    }
    nav > ul {
        display: flex;
        flex-direction: row;
        position: static;
        padding-bottom: 0;
        align-items: center;
    }

    .hamburger {
        display: none;
    }
    
    p { font-size: 3.0rem; }
    h1 { font-size: 4.0rem; }
    h2 { font-size: 3.6rem; }
    h3 { font-size: 3.2rem; }
    h4 { font-size: 3.0rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }
}