@page "{guid}"
@inject ITodoRepository todoRepository
Rename:
<form method="post" action="/api/todos/rename">
    <label for="renameTodo">New name for:</label>
    @todoRepository.GetById(new Guid(RouteData.Values["guid"].ToString())).Name
    <br/>
    <input type="text" id="renameTodo" name="renameTodo" required/>
    <input type="hidden" name="guid" value="@RouteData.Values["guid"]"/>
    <button id="confirmRename">confirm</button>
    <a href="../../Todo" id="cancelRename">Cancel</a>
</form>
